<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="at.co-x.psw" version="0.9.0">
  <name>Patientensoftware - CO-x media KG</name>
  <description>Verwaltung von Patienten für Arztordination</description>
  <author href="http://www.co-x.at" email="office@co-x.at">CO-x media KG Team</author>
  <content src="index.html"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="14"/>
  
  <preference name="fullscreen" value="true" />
  <preference name="orientation" value="landscape" />
  
  <!-- <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1"/> -->
  <plugin name="cordova-plugin-statusbar" source="npm" spec="~2.1.2"/>
  <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1"/>
  
  <icon src="images/icon.png"/>

  <platform name="ios">
  </platform>
  
  <access origin="http://*"/>
  <access origin="https://*" />
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>

</widget>